<div class="h-screen flex flex-col justify-between bg-black">
<header class="text-5xl text-center py-4 fixed w-full top-0 left-0 z-10 font-funky-bubble shine-animation">
  FACEDUP
</header>
  <div class="flex flex-grow">
    <aside class="w-1/2 p-6 flex items-center justify-center">
      <h1 class="text-9xl font-funky-bubble text-center text-yellow-400">CEDUP EM TEMPO REAL!</h1>
    </aside>
    <main class="w-1/2 p-6 flex items-center justify-center">
      <form>
        <label for="email">Email:</label>
        <input type="text" id="email" class="mb-2">
        <br>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" class="mb-2">
        <br>
        <button>Vamos lá</button>
      </form>
    </main>
  </div>
  <footer class="py-4">
    <div class="flex justify-center">
      <div class="flex space-x-7">
        <a href="https://www.instagram.com/weslleyothiago/">
          <img src="/instagram.png" alt="Instagram" class="w-8 h-8">
        </a>
        <a href="https://github.com/weslleyothiago">
          <img src="/github.png" alt="GitHub" class="w-8 h-8">
        </a>
        <a href="https://www.linkedin.com/in/weslleyothiago/">
          <img src="/linkedin.png" alt="LinkedIn" class="w-8 h-8">
        </a>
      </div>
    </div>
  </footer>
</div>
